body{
text-align: center;
background: url('cloudbackground.jpg');
width: 850px;
height: 300px;
margin: 50px auto;
align: center;
border-radius: 30px;
padding: 10px;
}
#pp {
width:150px;
height:150px;
border-radius: 50%;
padding-bottom: 5px;
}
#Name{
font-family: "Palatino Linotype";
font-size: 40px;
font-weight: 800;
}
pre {
font-family:"Palatino Linotype";
font-size:15px;
font-weight:600;
text-align: center;
}
p {
font-family: "Courier New";
font-size: 15px;
font-weight: 400;
text-align: center;
font-weight: 600;
}
hr{
height: 30px;
border-style: solid;
border-color: black;
border-width: 1px 0 0 0;
border-radius: 20px;
}
hr:before {
display: block;
content: "";
height: 30px;
margin-top: -31px;
border-style: solid;
border-color: black;
border-width: 0 0 1px 0;
border-radius: 20px;
}
